@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



header {
    background-color: #333;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 10px 80px;
    height: 70px;
    
    
}
 header .navbar{
    display:none;
}

 nav a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3em;
    padding-left: 30px;
} 

 nav a:hover{ 
    color: white;
    /* background-color: #04AA6D;  */
 } 


.logo{
    text-decoration: none;
    color: #04AA6D;
    text-transform: uppercase;
    font-family: cursive;
    font-weight: 700;
    display: flex;
    font-size: 1.5em;
}
.logo:hover{
    color: white;
    font-weight: 900;
}
ul
{
    list-style-type: none;
    overflow: hidden;
    background-color:#333;
}
li
{
    float:left;
    padding-top: 10px;
    padding-right: 20px;
    margin-right: 10px;
}
li a 
{
    font-weight: bolder;
    font-size: 25px;
    /* color:black; */
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-transform: capitalize;
}
li a:hover
{
    color:#04AA6D;
    text-decoration:underline #04AA6D 3px;
    

}

section{
    padding: 80px 80px;
}
.main{
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-image: url(images/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: white;
    font-size: 1.5em;
    font-weight: 500;
}
.main h2 span{
    background-color: rgba(128, 128, 128, 0.562);
    border-radius: 7px;
    padding: 7px;
    border:#333 3px solid;
    display: inline-block;
    margin-top: 10px;
    color:black;
    font-variant: small-caps;
    font-style: italic;
    font-size: 2.5em;
    font-weight: 800;

}
.main h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#btnCV{
    background-color: #04AA6D;
    padding: 5px;
    border-radius: 5px;
    font-style: italic;
    text-decoration: none;
    color: black;
    border: #333 1px solid;
}


.social-icons a{
    color: white;
    font-size: 2.5em;
    padding-right: 30px;
}
.social-icons a:hover{
    color:#04AA6D;
}
.title{
    display: flex;
    background-color: #333;
    padding: 20px;
    justify-content: center;
    color:#04AA6D;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 15em;    
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}
.card:hover{
    transform: scale(1.1);
    z-index: 50;
}
.img{
    width:12em;
}


.icon{
    color: black;
    font-size: 4em;
    text-align: center;
}
.info{
    text-align: center;
}

.info h3{
    color: royalblue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}
.info a:hover {
  text-decoration: underline;
}

@media only screen and (max-width:500px) {
 
header {
        display:block;
        position:fixed;
        background-color: #333;
        justify-content: space-between;
        padding:  0px; 
        z-index: 999;
        height: auto;
    }
header .navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
header .navbar div button{
        display: flex;
        margin: 10px;
        float: right;

    }

.navbar div .menu{
    display:none;
 }
 .navbar .iconn{
    float: right;
    background: transparent;
    color: #ffffff;
    font-weight: 300;
    font-size: 30px;
    border: none;
    margin-right: 20px;
 }

.navbar div .menu a {
    display:inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
  }
  
.navbar div .menu a:hover {
    color:#04AA6D;
  }
  
.navbar  a.active {
    background-color: #04AA6D;
    height: 50px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    float: left;
  }




    
   .logo{
    display: none;
   }
    nav{
        display: none;
    }
    
    
    section{
        padding:30px 20px; 
    }
    .main{
        width: 100%;
        display: flex;
        min-height: 100vh;
        align-items: center;
        background-image: url(images/bg2.jpg);
        background-size:cover;
        background-position:center;
        background-attachment: fixed;
    }
    
    .main h2{
        color: white;
        font-size: 1.5em;
        font-weight: 500;
    }
    .main h2 span{
        display: inline-block;
        margin-top: 10px;
        color:black;
        font-size: 1.5em;
        font-weight: 800;
    
    }
    .main h3{
        color: white;
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    
    .social-icons a{
        color: white;
        font-size: 2em;
        padding-right:20px;
    }
    .social-icons a:hover{
        color:blueviolet;
    }
    .title{
        
        background-color: #333;
        display: flex;
        justify-content: center;
        color:#04AA6D;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .content{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        background-color: white;
        width: 9em;
        box-shadow: 0 5px 25px rgba(1 1 1 /15%);
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        transition: 0.5s ease;
        z-index: 2;
    }
    .card:hover{
        transform: scale(1.2);
        z-index: 5;
    }
    .img{
        width: 100px;;
    }
    
    
    .icon{
        color: black;
        font-size: 2.2em;
        text-align: center;
    }
    .info{
        text-align: center;
    }
    
    .info h3{
        color: royalblue;
        font-size: 1em;
        font-weight: 700;
        margin: 10px;
    
    }
    
    .info a:hover {
       text-decoration: underline;
    }


}    
      

/*0000000000000000000000000000000000000000000000*/
  

#preloader {
    background: #000 url("./images/gif-3.gif") no-repeat center center;
    position:fixed;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    z-index: 1000;
}
